<?xml version="1.0"?>
<launch>

    <arg name="world" default="$(find robot_control)/world/race_platform_color.world" />

    <include file="$(find turtlebot_gazebo)/launch/main.launch">
        <arg name="world_file" value="$(arg world)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        headless means no GUI , only ROS
        <arg name="debug" value="true" />
        debug means no ROS output
    </include>

    <!-- <include file="$(find diffbot_control)/launch/diffbot.launch">
        <arg name="world_name" value="$(arg world)" />
        <arg name="model" value="remo" />
    </include> -->
</launch>