<?xml version="1.0"?>

<robot name="servicebot_sim" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="servicebot_sim">
		<gazebo reference="reduktor1">
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Cyan</material>
		</gazebo>

		<gazebo reference="reduktor2">
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Cyan</material>
		</gazebo>

		<gazebo reference="chaster_wheel1">
			<mu2>200.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="chaster_wheel2">
			<mu2>200.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="chaster_wheel3">
			<mu1>200.0</mu1>
			<mu2>200.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="wheel1">
			<mu1>200.0</mu1>
			<mu2>200.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="wheel2">
			<mu1>200.0</mu1>
			<mu2>200.0</mu2>
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<minDepth>0.001</minDepth>
			<maxVel>1.0</maxVel>
			<material>Gazebo/Green</material>
		</gazebo>

		<gazebo reference="base_link">
			<material>Gazebo/Silver</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="motor1">
			<material>
				Gazebo/Black
				
			</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>


		<transmission name="front_left_wheel_transmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="reduktor_joint2">
				<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
			</joint>
			<actuator name="front_left_motor">
				<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>


		<transmission name="front_left_wheel_transmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="reduktor_joint1">
				<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
			</joint>
			<actuator name="front_left_motor">
				<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<!-- <gazebo>
			<plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
				<alwaysOn>true</alwaysOn>
				<updateRate>20</updateRate>
				<leftJoint>reduktor_joint2</leftJoint>
				<rightJoint>reduktor_joint2</rightJoint>
				<wheelSeparation>.230</wheelSeparation>
				<wheelDiameter>0.070</wheelDiameter>
				<torque>1.0</torque>
				<commandTopic>cmd_vel</commandTopic>
				<odometryTopic>odom</odometryTopic>
				<odometryFrame>odom</odometryFrame>
				<robotBaseFrame>base_footprint</robotBaseFrame>
				<publishWheelJointState>true</publishWheelJointState>
				<legacyMode>true</legacyMode>
			</plugin>
		</gazebo> -->

		<!-- Ros control for differential drive -->
		<gazebo>
			<plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
				<robotNamespace>/servicebot</robotNamespace>
				<!--robotParam>/robot_description</robotParam-->
				<robotParam>/servicebot/robot_description </robotParam>
				<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			</plugin>
		</gazebo>

		<!--gazebo>
	    <plugin name="kobuki_controller" filename="libgazebo_ros_kobuki.so">
	      <publish_tf>1</publish_tf>
	      <left_wheel_joint_name>wheel_left_joint</left_wheel_joint_name>
	      <right_wheel_joint_name>wheel_right_joint</right_wheel_joint_name>
	      <wheel_separation>.230</wheel_separation>
	      <wheel_diameter>0.070</wheel_diameter>
	      <torque>1.0</torque>
	      <velocity_command_timeout>0.6</velocity_command_timeout>
	      <cliff_sensor_left_name>cliff_sensor_left</cliff_sensor_left_name>
	      <cliff_sensor_center_name>cliff_sensor_front</cliff_sensor_center_name>
	      <cliff_sensor_right_name>cliff_sensor_right</cliff_sensor_right_name>
	      <cliff_detection_threshold>0.04</cliff_detection_threshold>
	      <bumper_name>bumpers</bumper_name>
        <imu_name>imu</imu_name>
	    </plugin>
	  </gazebo-->
	</xacro:macro>
</robot>