<?xml version="1.0"?>
<!--
  The complete service library of xacros for easy reference
 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- General -->
  <xacro:include filename="$(find service_description)/urdf/xacro/common_properties.urdf.xacro" />
  <!-- Bases -->
  <xacro:include filename="$(find service_description)/urdf/xacro/servicebot.urdf.xacro" />

</robot>