<launch>

  <!-- <arg name="model" default="$(find urdf_tutorial)/urdf/08-macroed.urdf.xacro" /> -->
  <arg name="model" default="$(find service_description)/urdf/service_circle_a2_realsense.urdf.xacro" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find service_description)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <include file="$(find service_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>


</launch>