<launch>
    <!-- 
        Launch file follows: 
        http://gazebosim.org/tutorials?tut=ros_control#Createaroslaunchfile
    -->
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="model" default="service" doc="model type [servicebot, amr]" />

    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam command="load" file="$(find service_description)/config/servicebot_control.yaml" />

    <rosparam command="load" file="$(find service_description)/config/pid.yaml" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="servicebot" args="joint_state_controller
                                            mobile_base_controller" />


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="servicebot" respawn="false" output="screen">
        <remap from="/joint_states" to="servicebot/joint_states" />
        <!-- param name="publish_frequency" type="double" value="30.0" /-->
    </node>

    <!-- joınt state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="servicebot" respawn="false" output="screen">
        <remap from="/joint_states" to="servicebot/joint_states" />
    </node>

    <!-- <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/diffbot/mobile_base_controller/cmd_vel"/>
    </node> -->
</launch>