<?xml version="1.0"?>
<!--
  This is not a standalone urdf for servicebot. It simply defines the 'servicebot' tag that can
  be incorporated by other urdf files (e.g. turtlebot).

  See servicebot_standalone.urdf.xacro for a standalone urdf to be tested with
      servicebot_description/launch/view_model.launch
 -->
<robot name="servicebot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find service_description)/urdf/xacro/common_properties.urdf.xacro" />
  <!-- Depth camera -->
  <xacro:include filename="$(find service_description)/urdf/xacro/depth_camera.xacro" />
  <!-- IMU -->
  <xacro:include filename="$(find service_description)/urdf/xacro/imu.xacro" />
  <!-- Base -->
  <xacro:include filename="$(find service_description)/urdf/xacro/base.xacro" />
  <!-- Wheels -->
  <xacro:include filename="$(find service_description)/urdf/xacro/wheel.xacro" />
  <!-- Rplidar -->
  <xacro:include filename="$(find service_description)/urdf/xacro/rplidar.xacro" />
  <!-- Chasster wheel -->
  <xacro:include filename="$(find service_description)/urdf/xacro/chasster_wheel.xacro" />

  <xacro:property name="width" value="0.2" />
  <xacro:property name="pi" value="3.1415" />

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>

  <material name="white">
    <color rgba="1 1 1 1" />
  </material>

  <material name="red">
    <color rgba="1 0 0 1" />
  </material>

  <material name="green">
    <color rgba="0 1 0 1" />
  </material>

  <material name="yellow">
    <color rgba="1 1 0 1" />
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />

  </material>

  <material name="orange">
    <color rgba="1 0.5 0 1" />
  </material>

  <material name="brown">
    <color rgba="0.5 0.25 0 1" />
  </material>

  <material name="purple">
    <color rgba="0.5 0 0.5 1" />
  </material>

  <material name="cyan">
    <color rgba="0 1 1 1" />
  </material>

  <material name="magenta">
    <color rgba="1 0 1 1" />
  </material>


  <!-- xacro material property -->
  <!-- servicebot -->
  <xacro:macro name="servicebot">

    <!-- base_link -->
    <xacro:base name="base_link" parent="base_footprint">
      <origin xyz="0 0 0.0302" rpy="0 0 0" />
    </xacro:base>


    <!-- pole-suspan1 -->
    <joint name="pole_suspan1_joint" type="fixed">
      <origin xyz="0.0765 -0.1455  ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole1" />
    </joint>

    <link name="suspan_pole1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>

    </link>

    <joint name="pole_suspan2_joint" type="fixed">
      <origin xyz="-0.0765 0.1455  ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole2" />
    </joint>
    <link name="suspan_pole2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>

    </link>

    <joint name="pole_suspan3_joint" type="fixed">
      <origin xyz="-0.0765 -0.1455 ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole3" />
    </joint>
    <link name="suspan_pole3">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>

    </link>

    <joint name="suspan_pole4_joint" type="fixed">
      <origin xyz="0.0765 0.1455 ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole4" />
    </joint>
    <link name="suspan_pole4">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>

    </link>

    <!-- Motor baglantı plakası1 -->
    <joint name="left_motor_baglanti_joint" type="fixed">
      <!-- prismatic -->
      <!-- <origin xyz="0.07 -0.0765 0" rpy="1.5707 0 0 " /> -->
      <origin xyz="0.0765 0.0 -0.04" rpy="0 0 ${M_PI_2}" />
      <parent link="suspan_pole2" />
      <child link="left_motor_baglanti_plaka" />
      <!-- <axis xyz="0 0 1" /> -->
      <!-- <limit lower="-0.01" upper="0.01" effort="100" velocity="0.1" /> -->
    </joint>

    <link name="left_motor_baglanti_plaka">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.015  0.176 -0.086" rpy="1.5707 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.015 0.176 -0.086" rpy="1.5707 0 0" />
      </collision>

    </link>

    <!-- Motor baglantı plakası2 -->
    <joint name="right_motor_baglanti_joint" type="fixed">
      <!-- prismatic -->
      <!-- <origin xyz="0.07 -0.0765 0" rpy="1.5707 0 0 " /> -->
      <origin xyz="0.0765 -0.0 -0.04" rpy="0 0 ${M_PI_2}" />
      <parent link="suspan_pole3" />
      <child link="right_motor_baglanti_plaka" />
      <!-- <axis xyz="0 0.0 1" /> -->
      <!-- <limit lower="-0.01" upper="0.01" effort="100" velocity="0.1" /> -->

    </joint>

    <link name="right_motor_baglanti_plaka">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.015  -0.176 -0.086" rpy="1.5707 0 ${-M_PI}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.015 -0.176 -0.086" rpy="1.5707 0 ${M_PI}" />
      </collision>

    </link>


    <!-- Motor1 -->
    <joint name="left_motor_joint" type="fixed">
      <!-- prismatic -->
      <origin xyz="-0.02 0.0 -0.03" rpy="0 0 ${-M_PI_2}" /> <!-- visual and collision, joint shift -->
      <parent link="left_motor_baglanti_plaka" />
      <child link="left_motor" />

      <!-- <limit lower="-0.05" upper="0.05" effort="100" velocity="0.1" /> -->

    </joint>

    <link name="left_motor">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 -0.05 0.03" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 -0.05 0.03" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </collision>

    </link>

    <!-- right_motor -->
    <joint name="right_motor_joint" type="fixed">
      <!-- prismatic -->
      <origin xyz="0.02 0.0 -0.03" rpy="0 0 ${-M_PI_2}" /> <!-- visual and collision, joint shift -->
      <parent link="right_motor_baglanti_plaka" />
      <child link="right_motor" />
      <axis xyz="1 0 0" />
      <!-- <limit lower="-0.05" upper="0.05" effort="100" velocity="0.1" /> -->

    </joint>
    <link name="right_motor">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 0.05 -0.03" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 0.05 -0.03" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </collision>

    </link>


    <!-- left_reduktor_mil -->
    <joint name="left_reduktor_mil_joint" type="fixed">
      <!-- prismatic -->
      <origin xyz="0. 0.058 0.0" rpy="0 0 0" />
      <parent link="left_motor" />
      <child link="left_reduktor_mil" />
      <!-- <axis xyz="1 0 0" /> -->
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->

    </joint>
    <link name="left_reduktor_mil">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 0.013 0.007" rpy="0 ${M_PI_2} -${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 0.013 0.007" rpy="0 ${M_PI_2} -${M_PI_2}" />
      </collision>

    </link>

    <!-- right_reduktor_mil -->
    <joint name="right_reduktor_joint" type="fixed">
      <origin xyz="0. -0.058 0.0" rpy="0 0 0" />
      <parent link="right_motor" />
      <child link="right_reduktor_mil" />
      <!-- <axis xyz="1 0 0" /> -->
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->

    </joint>
    <link name="right_reduktor_mil">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 -0.013 -0.007" rpy="0 ${-M_PI_2} -${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 -0.013 -0.007" rpy="0 ${-M_PI_2} -${M_PI_2}" />
      </collision>

    </link>


    <!-- left_drive_wheel -->

    <xacro:wheel name="left_wheel" parent="left_reduktor_mil" xyz="0.079 -0.155 ${0.0725 + 0.0099}" rpy="0 ${M_PI_2} ${M_PI_2}">
      <!-- prismatic -->
      <origin xyz="0. 0.04 0.0" rpy="0 0 0" />

    </xacro:wheel>

    <!-- right_drive_wheel -->
    <xacro:wheel name="right_wheel" parent="right_reduktor_mil" xyz="0.079 0.155 -${0.0725 + 0.0099}" rpy="0 ${-M_PI_2} ${M_PI_2}">
      <!-- prismatic -->
      <origin xyz="0.0 -0.04 0.0" rpy="0 0 0" />

    </xacro:wheel>


    <!-- Chaster wheel chassis1 -->
    <joint name="chaster_wheel_chassis_joint1" type="revolute">
      <!-- <origin xyz="0.006 -0.198 0.047" rpy="0 0 0 " /> -->
      <origin xyz="-0.198 -0.01 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel1_chassis" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel1_chassis">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz=" -0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>

    </link>

    <!-- Chaster wheel chassis2 -->
    <joint name="chaster_wheel_chassis_joint2" type="revolute">
      <!-- <origin xyz="0.156 -0.115 0.047" rpy="0 0 0 " /> -->
      <origin xyz="0.156 -0.115 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel2_chassis" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel2_chassis">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />

      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>

    </link>

    <!-- Chaster wheel chassis3 -->
    <joint name="chaster_wheel_chassis_joint3" type="revolute">
      <!-- <origin xyz="0.115 0.156 0.047" rpy="0 0 0 " /> -->
      <origin xyz="0.156 0.115 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel3_chassis" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel3_chassis">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035 " rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>

    </link>

    <!-- Chaster wheel1 -->
    <xacro:chasster_wheel name="chaster_wheel1" parent="chaster_wheel1_chassis" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <!-- <origin xyz="0.0 -0.025 -0.027" rpy="0 0 0 " /> -->
      <origin xyz="0.025 -0.0 -0.027" rpy="0 0 0 " />
    </xacro:chasster_wheel>


    <!-- chaster wheel2 -->
    <xacro:chasster_wheel name="chaster_wheel2" parent="chaster_wheel2_chassis" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <!-- <origin xyz="0.0 -0.025 -0.027" rpy="0 0 0 " /> -->
      <origin xyz="0.025 0.0 -0.027" rpy="0 0 0 " />
    </xacro:chasster_wheel>


    <!-- chaster wheel3 -->
    <xacro:chasster_wheel name="chaster_wheel3" parent="chaster_wheel3_chassis" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <origin xyz="0.025 0.0 -0.027" rpy="0 0 0 " />
    </xacro:chasster_wheel>


    <!-- upper chassis -->
    <joint name="upper_chassis_joint" type="fixed">
      <!-- <origin xyz="0.0 0.0 0.25" rpy="0 0 0 " /> -->
      <origin xyz="0.0 0.0 0.25" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="upper_chassis" />

    </joint>
    <link name="upper_chassis">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/ust_sase.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.31 -0.32 -0.03" rpy="0 0 0" /> -->
        <origin xyz="-0.31 0.32 -0.03" rpy="0 0 -${pi/2}" />
        <material name="turquoise">
          <color rgba="0 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/ust_sase.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.31 -0.32 -0.03" rpy="0 0 0" /> -->
        <origin xyz="-0.31 0.32 -0.03" rpy="0 0 -${pi/2}" />
      </collision>

    </link>


    <!-- Rplidar-->
    <xacro:rplidar name="rplidar" parent="base_link">
      <origin rpy="0 0 -${2*M_PI_4}" xyz="0.18 0.0  0.25" />
    </xacro:rplidar>


    <!-- Depth Camera up-->
    <xacro:depth_camera name="cameraup" parent="upper_chassis">
      <origin xyz="0.228  -0.035   0.921" rpy="0 ${M_PI_4} 0" />
    </xacro:depth_camera>

    <!-- Depth Camera down-->
    <xacro:depth_camera name="cameradown" parent="base_link">
      <origin xyz="0.228 -0.035  0.094" rpy="0 -${M_PI_4} 0" />
    </xacro:depth_camera>

    <!-- imu -->
    <xacro:imu name="imu" parent="base_link">
      <origin xyz=" 0.128 0.00  0.19" rpy="0 0 0" />
    </xacro:imu>


  </xacro:macro>
</robot>