<?xml version="1.0"?>
<!--
  This is not a standalone urdf for servicebot. It simply defines the 'servicebot' tag that can
  be incorporated by other urdf files (e.g. turtlebot).

  See servicebot_standalone.urdf.xacro for a standalone urdf to be tested with
      servicebot_description/launch/view_model.launch
 -->
<robot name="servicebot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find service_description)/urdf/xacro/common_properties.urdf.xacro" />
  <xacro:include filename="$(find service_description)/urdf/xacro/servicebot_gazebo.urdf.xacro" />
  <!-- Depth camera -->
  <xacro:include filename="$(find service_description)/urdf/xacro/depth_camera.xacro" />
  <!-- IMU -->
  <xacro:include filename="$(find service_description)/urdf/xacro/imu.xacro" />
  <!-- Lidar -->
  <xacro:include filename="$(find service_description)/urdf/xacro/lidar.xacro" />
  <!-- Base -->
  <xacro:include filename="$(find service_description)/urdf/xacro/base.xacro" />
  <!-- Wheels -->
  <xacro:include filename="$(find service_description)/urdf/xacro/wheels.xacro" />
  <!-- Rplidar -->
  <xacro:include filename="$(find service_description)/urdf/xacro/rplidar.xacro" />
  <!-- Chasster wheel -->
  <xacro:include filename="$(find service_description)/urdf/xacro/chasster_wheel.xacro" />

  <xacro:property name="width" value="0.2" />
  <xacro:property name="pi" value="3.1415" />

  <material name="blue">
    <color rgba="0 0 0.8 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>

  <material name="white">
    <color rgba="1 1 1 1" />
  </material>

  <material name="red">
    <color rgba="1 0 0 1" />
  </material>

  <material name="green">
    <color rgba="0 1 0 1" />
  </material>

  <material name="yellow">
    <color rgba="1 1 0 1" />
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />

  </material>

  <material name="orange">
    <color rgba="1 0.5 0 1" />
  </material>

  <material name="brown">
    <color rgba="0.5 0.25 0 1" />
  </material>

  <material name="purple">
    <color rgba="0.5 0 0.5 1" />
  </material>

  <material name="cyan">
    <color rgba="0 1 1 1" />
  </material>

  <material name="magenta">
    <color rgba="1 0 1 1" />
  </material>


  <!-- xacro material property -->
  <!-- servicebot -->
  <xacro:macro name="servicebot">

    <!-- base_link -->
    <xacro:base name="base_link" parent="base_footprint">
      <origin xyz="0 0 0.0302" rpy="0 0 0" />
    </xacro:base>


    <!-- pole-suspan1 -->
    <joint name="pole_suspan1_joint" type="fixed">
      <origin xyz="0.0765 -0.1455  ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole1" />
    </joint>

    <link name="suspan_pole1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.1455 0.0765 0.141" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <joint name="pole_suspan2_joint" type="fixed">
      <origin xyz="-0.0765 0.1455  ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole2" />
    </joint>
    <link name="suspan_pole2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="-0.1455 -0.0765  0.141" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <joint name="pole_suspan3_joint" type="fixed">
      <origin xyz="-0.0765 -0.1455 ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole3" />
    </joint>
    <link name="suspan_pole3">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="-0.1455 0.0765 0.141" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <joint name="suspan_pole4_joint" type="fixed">
      <origin xyz="0.0765 0.1455 ${0.142+0.0056}" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="suspan_pole4" />
    </joint>
    <link name="suspan_pole4">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/suspansiyon_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.006 -0.006 -0.071" rpy="0 0 0" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.1455 -0.0765 0.141" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Motor baglantı plakası1 -->
    <joint name="motor_baglanti_plaka_joint1" type="fixed">
      <!-- prismatic -->
      <!-- <origin xyz="0.07 -0.0765 0" rpy="1.5707 0 0 " /> -->
      <origin xyz="0.0765 0.0 -0.04" rpy="0 0 ${M_PI_2}" />
      <parent link="suspan_pole2" />
      <child link="motor_baglanti_plaka" />
      <!-- <axis xyz="0 0 1" /> -->
      <!-- <limit lower="-0.01" upper="0.01" effort="100" velocity="0.1" /> -->
    </joint>

    <link name="motor_baglanti_plaka">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.015  0.176 -0.086" rpy="1.5707 0 0" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.015 0.176 -0.086" rpy="1.5707 0 0" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Motor baglantı plakası2 -->
    <joint name="motor_baglanti_plaka_joint2" type="fixed">
      <!-- prismatic -->
      <!-- <origin xyz="0.07 -0.0765 0" rpy="1.5707 0 0 " /> -->
      <origin xyz="0.0765 -0.0 -0.04" rpy="0 0 ${M_PI_2}" />
      <parent link="suspan_pole3" />
      <child link="motor_baglanti_plaka2" />
      <!-- <axis xyz="0 0.0 1" /> -->
      <!-- <limit lower="-0.01" upper="0.01" effort="100" velocity="0.1" /> -->

    </joint>

    <link name="motor_baglanti_plaka2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.015  -0.176 -0.086" rpy="1.5707 0 ${-M_PI}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_baglanti.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.015 -0.176 -0.086" rpy="1.5707 0 ${M_PI}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>


    <!-- Motor1 -->
    <joint name="motor_joint1" type="fixed">
      <!-- prismatic -->
      <origin xyz="-0.02 0.0 -0.03" rpy="0 0 ${-M_PI_2}" /> <!-- visual and collision, joint shift -->
      <parent link="motor_baglanti_plaka" />
      <child link="motor1" />

      <!-- <limit lower="-0.05" upper="0.05" effort="100" velocity="0.1" /> -->

    </joint>

    <link name="motor1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 -0.05 0.03" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 -0.05 0.03" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Motor2 -->
    <joint name="motor_joint2" type="fixed">
      <!-- prismatic -->
      <origin xyz="0.02 0.0 -0.03" rpy="0 0 ${-M_PI_2}" /> <!-- visual and collision, joint shift -->
      <parent link="motor_baglanti_plaka2" />
      <child link="motor2" />
      <axis xyz="1 0 0" />
      <!-- <limit lower="-0.05" upper="0.05" effort="100" velocity="0.1" /> -->

    </joint>
    <link name="motor2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 0.05 -0.03" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/motor_kutusu.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.03 0.05 -0.03" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>


    <!-- Reductor mil1 -->
    <joint name="reduktor_mil_joint1" type="fixed">
      <!-- prismatic -->
      <origin xyz="0. 0.058 0.0" rpy="0 0 0" />
      <parent link="motor1" />
      <child link="reduktor_mil1" />
      <!-- <axis xyz="1 0 0" /> -->
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->

    </joint>
    <link name="reduktor_mil1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 0.013 0.007" rpy="0 ${M_PI_2} -${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 0.013 0.007" rpy="0 ${M_PI_2} -${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Reductor mil2 -->
    <joint name="reduktor_mil_joint2" type="fixed">
      <origin xyz="0. -0.058 0.0" rpy="0 0 0" />
      <parent link="motor2" />
      <child link="reduktor_mil2" />
      <!-- <axis xyz="1 0 0" /> -->
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->

    </joint>
    <link name="reduktor_mil2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 -0.013 -0.007" rpy="0 ${-M_PI_2} -${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktor_mili.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.007 -0.013 -0.007" rpy="0 ${-M_PI_2} -${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0 0 0" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- reduktor1 -->
    <joint name="reduktor_joint1" type="continuous">
      <!-- prismatic -->
      <origin xyz="0. 0.04 0.0" rpy="0 0 0" />
      <parent link="reduktor_mil1" />
      <child link="reduktorteker1" />
      <axis xyz="0 1 0" />
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->
      <limit effort="100" velocity="20" />
    </joint>
    <link name="reduktorteker1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktorteker.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.155 -0.079 ${0.0725 + 0.01}" rpy="0 1.5779 0" /> -->
        <origin xyz="0.079 -0.155 ${0.0725 + 0.0099}" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktorteker.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.155 -0.079 ${0.0725 + 0.01}" rpy="0 1.57079 0" /> -->
        <origin xyz="0.079 -0.155 ${0.0725 + 0.0099}" rpy="0 ${M_PI_2} ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.05375 -0.00689  -0.1" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- reduktor2 -->
    <joint name="reduktor_joint2" type="continuous">
      <!-- <origin xyz="-0.04 0.0 0.0" rpy="0 0 0" /> -->
      <origin xyz="0.0 -0.04 0.0" rpy="0 0 0" />
      <parent link="reduktor_mil2" />
      <child link="reduktorteker2" />
      <!-- <axis xyz="1 0 0" /> -->
      <axis xyz="0 1 0" />
      <!-- <limit lower="-0.15" upper="0.15" effort="100" velocity="0.01" /> -->
      <limit effort="100" velocity="20" />
    </joint>
    <link name="reduktorteker2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/reduktorteker.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="0.155 -0.079 -${0.0725 + 0.01}" rpy="0 -1.57079 0" /> -->
        <origin xyz="0.079 0.155 -${0.0725 + 0.0099}" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/reduktorteker.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="0.155 -0.079 -${0.0725 + 0.01}" rpy="0 -1.57079 0" /> -->
        <origin xyz="0.079 0.155 -${0.0725 + 0.0099}" rpy="0 ${-M_PI_2} ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0 0 0" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>


    <!-- 3D camera -->

    <!-- Chaster wheel chassis1 -->
    <joint name="chaster_wheel_chassis_joint1" type="revolute">
      <!-- <origin xyz="0.006 -0.198 0.047" rpy="0 0 0 " /> -->
      <origin xyz="-0.198 -0.01 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel_chassis1" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel_chassis1">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz=" -0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.0 0.0 0.0" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Chaster wheel chassis2 -->
    <joint name="chaster_wheel_chassis_joint2" type="revolute">
      <!-- <origin xyz="0.156 -0.115 0.047" rpy="0 0 0 " /> -->
      <origin xyz="0.156 -0.115 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel_chassis2" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel_chassis2">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />

      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.0 0.0 0.0" />
        <mass value="0.21" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Chaster wheel chassis3 -->
    <joint name="chaster_wheel_chassis_joint3" type="revolute">
      <!-- <origin xyz="0.115 0.156 0.047" rpy="0 0 0 " /> -->
      <origin xyz="0.156 0.115 0.047" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="chaster_wheel_chassis3" />
      <axis xyz="0 0 1" />
      <limit lower="${-M_PI}" upper="${M_PI}" effort="100" velocity="0.1" />
      <dynamics damping="0.01" friction="0.0" />
    </joint>
    <link name="chaster_wheel_chassis3">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035" rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/sarhos_tabla/sarhos_tabla.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.03 0.03 -0.035 " rpy="1.57079 0 0" /> -->
        <origin xyz="-0.03 -0.03 -0.035" rpy="${M_PI_2} 0 ${M_PI_2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.0 0.0 0.0" />
        <mass value="0.20" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.00057724" ixy="0.0" ixz="0.0" iyy="0.00057724" iyz="0.0" izz="0.00000597" />
      </inertial>
    </link>

    <!-- Chaster wheel1 -->
    <xacro:chasster_wheel name="chaster_wheel1" parent="chaster_wheel_chassis1" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <!-- <origin xyz="0.0 -0.025 -0.027" rpy="0 0 0 " /> -->
      <origin xyz="0.025 -0.0 -0.027" rpy="0 0 0 " />
    </xacro:chasster_wheel>


    <!-- chaster wheel2 -->
    <xacro:chaster_wheel name="chaster_wheel2" parent="chaster_wheel_chassis2" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <!-- <origin xyz="0.0 -0.025 -0.027" rpy="0 0 0 " /> -->
      <origin xyz="0.025 0.0 -0.027" rpy="0 0 0 " />
    </xacro:chaster_wheel>


    <!-- chaster wheel3 -->
    <xacro:chaster_wheel name="chaster_wheel3" parent="chaster_wheel_chassis3" xyz="-0.025 0.01 -0.025" rpy="0 0 ${-M_PI_2}">
      <origin xyz="0.025 0.0 -0.027" rpy="0 0 0 " />
    </xacro:chaster_wheel>


    <!-- upper chassis -->
    <joint name="upper_chassis_joint" type="fixed">
      <!-- <origin xyz="0.0 0.0 0.25" rpy="0 0 0 " /> -->
      <origin xyz="0.0 0.0 0.25" rpy="0 0 0 " />
      <parent link="base_link" />
      <child link="upper_chassis" />

    </joint>
    <link name="upper_chassis">
      <visual>
        <geometry>
          <mesh filename="package://service_description/meshes/servis/ust_sase.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.31 -0.32 -0.03" rpy="0 0 0" /> -->
        <origin xyz="-0.31 0.32 -0.03" rpy="0 0 -${pi/2}" />
        <material name="turquoise">
          <color rgba="0 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <!-- <cylinder length="0.142" radius="0.006" /> -->
          <mesh filename="package://service_description/meshes/servis/ust_sase.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <origin xyz="-0.31 -0.32 -0.03" rpy="0 0 0" /> -->
        <origin xyz="-0.31 0.32 -0.03" rpy="0 0 -${pi/2}" />
      </collision>
      <inertial>
        <!-- COM experimentally determined -->
        <origin xyz="0.0 0.0 0.0" />
        <mass value="30" /> <!--  kg for small/big battery pack -->
        <!-- servicebot's inertia tensor is approximated by a cylinder with homogeneous mass distribution
             More details: http://en.wikipedia.org/wiki/List_of_moment_of_inertia_tensors
             m = 2.4 kg; h = 0.09 m; r = 0.175 m
             ixx = 1/12 * m * (3 * r^2 + h^2)
             iyy = 1/12 * m * (3 * r^2 + h^2)
             izz = 1/2 * m * r^2
          -->
        <inertia ixx="0.0057724" ixy="0.0" ixz="0.0" iyy="0.0057724" iyz="0.0" izz="0.0000597" />
      </inertial>
    </link>


    <!-- Rplidar-->
    <xacro:rplidar name="rplidar" parent="base_link">
      <origin rpy="0 0 -${2*M_PI_4}" xyz="0.18 0.0  0.25" />
    </xacro:rplidar>


    <!-- Depth Camera up-->
    <xacro:depth_camera name="cameraup" parent="upper_chassis">
      <origin xyz="0.228  -0.035   0.921" rpy="0 ${M_PI_4} 0" />
    </xacro:depth_camera>

    <!-- Depth Camera down-->
    <xacro:depth_camera name="cameradown" parent="base_link">
      <origin xyz="0.228 -0.035  0.094" rpy="0 -${M_PI_4} 0" />
    </xacro:depth_camera>

    <!-- imu -->
    <xacro:imu name="imu" parent="base_link">
      <origin xyz=" 0.128 0.00  0.19" rpy="0 0 0" />
    </xacro:imu>


    <!-- gazebo simulation plugin -->
    <xacro:servicebot_sim />
  </xacro:macro>
</robot>